<html>
  <head>
    <!-- TODO: Use different icon sizes -->
    <link rel="icon" href="{{url_for('static', filename='icons/icon.png')}}" type="image/png">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register("{{ url_for('static', filename='sw.js') }}").then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }
    </script>
  </head>
  <body>
    <h1>This is a very long name for a simple PWA</h1>
  </body>
</html>
